.mresetar-iot-flows.json.backup
[{"type":"tab","id":"3915b241.bae2de","label":"Flow 1"},{"id":"218b0641.6b027a","type":"mqtt-broker","z":"3915b241.bae2de","broker":"192.168.99.100","port":"1883","clientid":"Node-red-mresetar","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7c97ac1f.052cf4","type":"mqtt in","z":"3915b241.bae2de","name":"alertbox","topic":"mresetar/alertbox/+/alert","broker":"218b0641.6b027a","x":197,"y":130.5,"wires":[["980288ae.ef5648","464e0688.f024c"]]},{"id":"980288ae.ef5648","type":"debug","z":"3915b241.bae2de","name":"","active":true,"console":"false","complete":"false","x":632,"y":49,"wires":[]},{"id":"96697490.eb4958","type":"e-mail","z":"3915b241.bae2de","server":"smtp.gmail.com","port":"465","name":"iot@vip.hr","dname":"iot@vip.hr via GMAIL","x":679,"y":232,"wires":[]},{"id":"464e0688.f024c","type":"function","z":"3915b241.bae2de","name":"Mapiraj u e-mail","func":"var pushes = msg.payload.pushes;\nmsg.topic = 'IoT AlertBox poruka';\nmsg.payload = 'Netko je pritisnuo crveni gumb po ' \n    + pushes + ' put pa ste dobili ovu poruku.\\n' \n    + 'Ugodan dan';\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":189.5,"wires":[["96697490.eb4958","980288ae.ef5648"]]}]